@page "/milespergallon"

<h3>Miles Per Gallon</h3>

<form action="" method="get" class="form">

  <div class="form">
    <label 
        for="name">Enter your vehicles miles: 
    </label>
    <input type="text" name="name" id="name" required>
  </div>

  <div class="form">
    <label for="text">Enter your vehicles gas tank capacity: </label>
    <input type="text" name="capacity" id="capacity" required>
  </div>

  <div class="form">
    <label for="text">Enter the amount of gas you replaced: </label>
    <input type="email" name="gas" id="gas" required>
  </div>

  <div class="form">
    <input type="submit" value="Calculate!">
  </div>
</form>

@code {

}
